src/main/resources/com/sandy/common/initializer/initializer-config.dtd

<!ELEMENT initializer-config (initializable)+>

<!ELEMENT initializable      (property)*>
<!ATTLIST initializable      class  CDATA #REQUIRED>

<!ELEMENT property           (value)*>
<!ATTLIST property           name   CDATA #REQUIRED
                             value  CDATA #IMPLIED> 
                                
<!ELEMENT value              (#PCDATA)>